# Arquivos e diretórios gerados por Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Ambientes virtuais
venv/
*.venv/
env/

# Arquivos de IDE e editor
.vscode/
.idea/
*.swp
*.swo

# Logs e bancos de dados
*.log
*.sqlite

# Chaves e configurações sensíveis
*.pem
*.key
config.yml
.env

# Outros arquivos e diretórios comuns para ignorar
.DS_Store
*.bak
*.tmp
*.temp
